/* styles.css */

/* Styles généraux pour le contenu */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Specify a font family for better readability */
}

.container {
  max-width: 1200px; /* Adjust container max-width as needed */
  margin: 0 auto;
  padding: 20px;
}

/* Styles pour l'en-tête */
header {
  background-color: #f2f2f2;
  padding: 20px 0;
}

.logo-link {
  display: block; /* Make the logo link a block-level element */
}

.logo-link img {
  max-width: 100%; /* Make the logo image responsive */
  height: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

/* Styles pour les images */
.Presention {
  max-width: 800px; /* Adjust the maximum width for presentation content */
  margin: 0 auto;
  padding: 20px;
}

.Nursery-images .container {
  max-width: 1200px; /* Set maximum width for image container */
  margin: 0 auto;
}

.Nursery-images .image-container {
  display: inline-block;
  width: 100%; /* Make image containers full-width */
  margin-bottom: 20px; /* Add margin between image containers */
}

.Nursery-images .nursery-img {
  width: 100%; /* Make images responsive */
  height: auto;
}

/* Styles pour le pied de page */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer-info {
  margin-bottom: 20px;
}

.footer-info h3 {
  margin-bottom: 10px;
}

.footer-info p {
  margin: 5px 0;
}

.footer-info img {
  width: 30px;
  margin: 0 5px;
}

.copyright {
  padding: 20px 0;
}
